.row
  .span6
    %h2#current_title= @snapshots.last.title

.row
  #container.span9
    %img#current_image
    #slider

.row
  .span2
    %h3 earlier
  .pull-right
    %h3 now

%ol.images.hidden
  - @snapshots.each do |snapshot|
    %li
      = snapshot.capture_time
      = image_tag(snapshot.snapshot_url, :alt => snapshot.title)

:javascript
  $(function() {
    var container = $('#container #current_image');
    var images = $('ol.images li img');
    var size = images.size() -1;
    container.attr('src', $(images[size]).attr('src'));
    $('#slider').slider({
      min: 1,
      max: size,
      slide: function(event, ui) {
        var currentImage = $(images[ui.value]);
        container.attr('src', currentImage.attr('src'));
        container.attr('alt', currentImage.attr('alt'));
        $('#current_title').text(currentImage.attr('alt'));
      },
      change: function(event, ui) {
        var currentImage = $(images[ui.value]);
        container.attr('src', currentImage.attr('src'));
        container.attr('alt', currentImage.attr('alt'));
        $('#current_title').text(currentImage.attr('alt'));
      },
      value: size
    });
  });
